#root {
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.busqueda{
  position: absolute;
  background-color: rgba(255, 255, 255, .60);
  backdrop-filter: blur(20px);
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: calc(100vh - 40px);
  width: 25vw;
  min-width: 273px;
  z-index: 1000;
  align-self: start;
  border-radius: 10px;
  padding: 10px;
}

.busqueda ul{
  list-style-type: ""; 
  width: 100%;
  height: calc(100% - 52px);
  padding: 0;
  margin-bottom: 5px;
  border-radius: 5px;
  overflow-y: scroll;
}

.busqueda li{
  margin-top: 0px;
  margin-bottom: 10px;
}

.busqueda input{
  width: calc(100% - 18px);
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-family: inherit;
}

.busqueda button{
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: black;
  width: 100%;
  align-items: start;
  justify-items: left;
}

.busqueda button h3{
  font-size: medium;
  margin: 0px;
}

.busqueda button p{
  margin: 0px;
  font-size: small;
  text-align: left;
}
